<nav class="bg-tan ">
  <section class="banner-spacing pt2 pb2">
    <img class="title-img" src="/images/generatedtext (1).png" style="max-width: 250px;
  height: auto;" alt="banner">
  </section>

  <section id="nav-list ">
    <ul class="flex-row space_even pb2 txt-sz2">
      <li id="home">
        <a href="" class="txt-color">Home</a>
      </li>
      <li id="dash">
        <a href="" class="txt-color">Dashboard</a>
      </li>
      <li id="login">
        <a href="" class="txt-color">Login</a>
      </li>
      <li id="logout">
        <a href="" class="txt-color">Logout</a>
      </li>
    </ul>
  </section>
</nav>