<nav class="bg-brown">

  <section class="banner-spacing pt1 pb1">
    <img class="title-img" src="/images/generatedtext (1).png" style="max-width: 300px;
  height: auto;" alt="banner">
  </section>

  <section id="nav_list ">
    <ul class="flex-row space-even pb1 txt-sz2">
      <li id="home">
        <a href="" class="txt-color">Home</a>
      </li>
      <li id="dash">
        <a href="" class="txt-color">Dashboard</a>
      </li>
      <li id="login" class="">
        <a href="" class="txt-color">Login</a>
      </li>
      <li id="logout">
        <a href="" class="txt-color">Logout</a>
      </li>
    </ul>
  </section>

</nav>

<script>
  document.querySelector('#home').addEventListener('click', (event) => {
    event.preventDefault();
    window.location.replace('/');
  });

  document.querySelector('#dash').addEventListener('click', (event) => {
    event.preventDefault();
    window.location.replace('/dash');
  });

  document.querySelector('#login').addEventListener('click', (event) => {
    event.preventDefault();
    window.location.replace('/login');
  });

  document.querySelector('#logout').addEventListener('click', (event) => {
    event.preventDefault();
  });
</script>