<main>
  <section id="topic_container" class="m1h border">
    <header id="topic_header" class="ph bg-brown">
      <div class="txt-sz2 title-txt-color txt-bold">
        This is the title of this article
      </div>
      <div class="txt-sz1 flex space-between pt1 ">
        <div class="flex-start sub-txt-color">
          By: name
        </div>
        <div class="flex-end sub-txt-color">
          time placeholder
        </div>
      </div>
    </header>
    <div id="topic_info" class="ph txt-sz1h">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident est dolorum facere? Odit, similique amet. Recusandae sint facilis debitis explicabo.
    </div>
  </section>
  <div id="button_container" class="flex p2 pt1">
    <button id="new_post" style="width: 100%; height: 3em; font-size: 1rem;">New Post</button>
  </div>
</main>

<script>
  if (!document.cookie.includes('session_token=')) {
    document.querySelector('#button_container').classList.add('hidden');
  };

  document.querySelector('#new_post').addEventListener('click', (event) => {
    window.location.replace('/create');
  })
</script>