<main>
  <section id="login_form" class="border m1h">
    <div class="p2 pb1">
      <header class="txt-sz1h txt-bold title-txt-color">
        Email:
      </header>
      <input type="text" placeholder="Enter Email" style="width: 100%;">
      <header class="txt-sz1h txt-bold title-txt-color pt1">
        Password:
      </header>
      <input type="text" placeholder="Enter Password" style="width: 100%;">
      <header class="txt-sz1h txt-bold title-txt-color pt1">
        Confirm Password:
      </header>
      <input type="text" placeholder="Enter Password" style="width: 100%;">
    </div>
    <div class="flex p2 pt1 txt-sz1 flex-end">
      <button>Create Account</button>
    </div>
  </section>
</main>