*{
  --tan: rgb(231, 191, 152);
  --text_light: rgb(248, 240, 205);
  --brown: rgb(168, 119, 90);
  --subtitle-text: rgb(211, 194, 174);
  --title-text: rgb(87, 65, 31);
  --error-text: rgb(228, 62, 62);
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

html {
  background-color: var(--tan);
}

/* spacing formatting */
.flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-end {
  justify-content: flex-end;
}

.space-even {
  justify-content: space-evenly;
}

.space-between {
  justify-content: space-between;
}

/* color formatting */
.bg-brown {
  background: var(--brown);
}

.txt-color {
  color: var(--text_light);
}

.title-txt-color {
  color: var(--title-text);
}

.sub-txt-color {
  color: var(--subtitle-text);
}

.error-txt-color {
  color: var(--error-text);
}

/* margin formatting */
.m1h{
  margin: 1.5rem;
}

.mh{
  margin: 0.5rem;
}


/* padding formatting */
.ph {
  padding: 0.5rem;
}

.p2 {
  padding: 2rem;
}

.pt1 {
  padding-top: 1rem;
}

.pt2 {
  padding-top: 2rem;
}

.pb1 {
  padding-bottom: 1rem;
}

.pb2 {
  padding-bottom: 2rem;
}

.pl2 {
  padding-left: 2rem;
}

.pr2 {
  padding-right: 2rem;
}


/* text size formatting */
.txt-sz-small {
  font-size: 0.75em;
}

.txt-sz1 {
  font-size: 1em;
}

.txt-sz1h {
  font-size: 1.5em;
}

.txt-sz2 {
  font-size: 2em;
}

.txt-bold {
  font-weight: 550;
}

.banner-spacing {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.border {
  border: 2px solid var(--brown);
}